.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  min-height: 100vh;
}

.header {
  /* color: white; */
}

.locusContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.parentContainer {
    height: 10px;
    border-bottom: 20px solid #1F3A68;
}