:root {
  --main-blue: #1F3A68;
  --light-blue: #4EB1CB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-blue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logoContainer {
  width: 100%;
  height: 250px;
  background-image: url('./assets/logoLight.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

